Repository Andarist/react-textarea-autosize: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: replace useEffect with useLayoutEffect for React 17
  .changeset/clean-kiwis-boil.md
  src/hooks.ts
  src/index.tsx
Due: prettier --write

Update .changeset/clean-kiwis-boil.md
  .changeset/clean-kiwis-boil.md
Due: prettier --write

Changed `TextareaAutosizeProps` to a TS interface
  .changeset/purple-yaks-grin.md
  package.json
  src/index.tsx
  yarn.lock
Due: prettier --write

remove `minHeight` restriction
  src/index.tsx
Due: none

Bug fixes with incorrect scrollHeight in the latest version of FF(87.0)
  src/calculateNodeHeight.ts
  src/forceHiddenStyles.ts
Due: none

Add TextareaAudosize#tagName property
  src/__tests__/__snapshots__/index.test.js.snap
  src/__tests__/index.test.js
  src/index.tsx
Due: prettier --write, eslint --fix

Add tagName to the documentation
  README.md
Due: prettier --write

Fix Andarist/react-textarea-autosize#325 Height calculation is not accurate when using word-break
  src/getSizingData.ts
Due: none

Use correct casing
  src/getSizingData.ts
Due: none

Add changeset
  .changeset/quick-pianos-exercise.md
Due: prettier --write

Change tab-index to tabindex.
  src/calculateNodeHeight.ts
Due: none

Update .changeset/quick-pianos-exercise.md
  .changeset/quick-pianos-exercise.md
Due: prettier --write

Create rotten-radios-travel.md
  .changeset/rotten-radios-travel.md
Due: prettier --write

Use Yarn 3
  .gitignore
  .yarn/releases/yarn-3.1.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

Update peer dependencies
  package.json
  yarn.lock
Due: none

Bump `use-composed-ref`
  package.json
  yarn.lock
Due: none

chore: Bump `use-latest`
  package.json
Due: none

Create witty-garlics-pump.md
  .changeset/witty-garlics-pump.md
Due: prettier --write

Fix scrollbar on mobile issue #333
  src/calculateNodeHeight.ts
Due: none

fix: workaround for Firefox bug with scrollHeight
  src/calculateNodeHeight.ts
Due: none

chore: add changeset
  .changeset/loud-boats-judge.md
Due: prettier --write

Add `package.json#exports`
  .changeset/light-turtles-peel.md
  package.json
  yarn.lock
Due: prettier --write

fix: Cursor not at the end of input when using autofocus with initial value
  src/index.tsx
Due: none

Add a breaking example with custom font
  example/index.html
  example/index.tsx
Due: none

Trigger resizer when all fonts are loaded
  .changeset/tricky-jokes-wave.md
  src/hooks.ts
  src/index.tsx
Due: prettier --write

Factorize event listener hooks
  src/hooks.ts
Due: none

Upgrade dev dependencies to work with latest TS (4.9.5)
  package.json
  src/getSizingData.ts
  src/hooks.ts
  yarn.lock
Due: none

Add JSDom and mock document.fonts listner methods
  package.json
  src/__tests__/index.test.js
  yarn.lock
Due: prettier --write, eslint --fix

Added support for custom classNames
  src/index.tsx
Due: none

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.md)
  eslint --fix: any of: *.js
