Repository Andarist/react-textarea-autosize: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.js": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.md": ["prettier --write", "git add"]
}

update size added
  .travis.yml
  package.json
  scripts/update-size.js
  scripts/update-size.test.js
Due: prettier --write, eslint --fix

update travis
  .travis.yml
Due: none

remove node version 6 from travis
  .travis.yml
Due: none

remove unnecessary require modules
  .eslintrc
  scripts/update-size.test.js
Due: prettier --write, eslint --fix

removed jest and added size-limit to scripts
  .eslintrc
  .travis.yml
  package.json
  scripts/update-size.test.js
Due: prettier --write, eslint --fix

updated travis
  .travis.yml
Due: none

updated travis and removed empty lines
  .eslintrc
  .travis.yml
  scripts/update-size.js
Due: prettier --write, eslint --fix

update-size config values taken fron .size-limit.js
  README.md
  scripts/update-size.js
Due: prettier --write, eslint --fix

sizeConfig require updated
  .size-limit.js
  README.md
  scripts/update-size.js
Due: prettier --write, eslint --fix

added bytes library and removed format-bytes
  README.md
  package.json
  scripts/update-size.js
Due: prettier --write, eslint --fix

byte module implemented properly
  scripts/update-size.js
Due: prettier --write, eslint --fix

Setup Travis with size-limit test (#222)
  .eslintrc
  .size-limit.js
  .travis.yml
  README.md
  package.json
  scripts/update-size.js
Due: prettier --write, eslint --fix

Setup test environment, added initial tests
  .babelrc.js
  .eslintrc
  .travis.yml
  jest.config.js
  package.json
  setupTests.js
  src/__tests__/index.test.js
Due: prettier --write, eslint --fix

Added missing "style" PropType
  src/index.js
Due: prettier --write, eslint --fix

Added missing "style" PropType (#224)
  src/index.js
Due: prettier --write, eslint --fix

Updates based on feedback
  .babelrc.js
  .travis.yml
  package.json
Due: prettier --write, eslint --fix

Switched to react-testing-library
  jest.config.js
  package.json
  setupTests.js
  src/__tests__/__snapshots__/index.test.js.snap
  src/__tests__/index.test.js
  yarn.lock
Due: prettier --write, eslint --fix

Setup test environment, added initial tests (#223)
  .babelrc.js
  .eslintrc
  .travis.yml
  package.json
  src/__tests__/__snapshots__/index.test.js.snap
  src/__tests__/index.test.js
  yarn.lock
Due: prettier --write, eslint --fix

Update info about testing with jest
  README.md
Due: prettier --write

Remove yarn.lock
  .gitignore
  yarn.lock
Due: none

7.1.0-1
  package.json
Due: none

Document props. Fixes #227.
  README.md
Due: prettier --write

Document props. Fixes #227. (#228)
  README.md
Due: prettier --write

Remove the hiddenTextArea from the document.body after it has been measured
  src/calculateNodeHeight.js
Due: prettier --write, eslint --fix

Support createRef objects as inputRef
  README.md
  src/index.js
Due: prettier --write, eslint --fix

7.1.0-2
  package.json
Due: none

7.1.0
  package.json
Due: none

Use component name for import name in sample code
  README.md
Due: prettier --write

Use component name for import name in sample code (#231)
  README.md
Due: prettier --write

Update ESLint and its config
  .eslintrc
  package.json
  src/__tests__/index.test.js
  src/index.js
Due: prettier --write, eslint --fix

Reformat files
  .babelrc.js
  .eslintrc
  .lintstagedrc
  .prettierrc.js
  .size-limit.js
  example/index.js
  example/rollup.config.js
  scripts/update-size.js
Due: prettier --write, eslint --fix

Link BundlePhobia
  README.md
Due: prettier --write

Allow callers to avoid subpixel height values
  src/calculateNodeHeight.js
  src/index.js
Due: prettier --write, eslint --fix

Update README
  README.md
Due: prettier --write

fix: Check _ref is not null
  src/index.js
Due: prettier --write, eslint --fix

Fix issue 251 add a11y ignore to hidden text area
  README.md
  src/calculateNodeHeight.js
Due: prettier --write, eslint --fix
