Repository Andarist/react-textarea-autosize: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --single-quote --trailing-comma=all --write, eslint --fix, prettier --write

Updated babel deps to 7-beta
  .babelrc
  .babelrc.js
  dist/react-textarea-autosize.js
  dist/react-textarea-autosize.min.js
  example/rollup.config.js
  package.json
  rollup.config.js
Due: none

Binding requestAnimationFrame in development mode because of the IE11 quirk with eval source maps
  dist/react-textarea-autosize.js
  package.json
  rollup.config.js
  rollup.umd.config.js
  src/index.js
Due: prettier --single-quote --trailing-comma=all --write, eslint --fix

5.2.0
  package.json
Due: none

Use tab-size when calculating node size
  src/calculateNodeHeight.js
Due: prettier --single-quote --trailing-comma=all --write, eslint --fix

5.2.1
  package.json
Due: none

Build with tab-size fix
  dist/react-textarea-autosize.js
  dist/react-textarea-autosize.min.js
Due: none

Revert "Build with tab-size fix"
  dist/react-textarea-autosize.js
  dist/react-textarea-autosize.min.js
Due: none

Revert "5.2.1"
  package.json
Due: none

Use tab-size css property when calculating node size (#180)
  src/calculateNodeHeight.js
Due: prettier --single-quote --trailing-comma=all --write, eslint --fix

Updated dist files
  dist/react-textarea-autosize.js
  dist/react-textarea-autosize.min.js
Due: none

Updated bunch of dev deps
  package.json
Due: none

Exclude transform-typeof-symbol
  .babelrc.js
Due: none

docs: describe a way to set focus
  README.md
Due: prettier --write

docs: describe a way to set focus (#190)
  README.md
Due: prettier --write

docs: describe autoFocus
  README.md
Due: prettier --write

docs: describe autoFocus (#191)
  README.md
Due: prettier --write

docs: fix typo
  README.md
Due: prettier --write

docs: fix typo (#192)
  README.md
Due: prettier --write

Updated rollup configs, bucn od rollup/babel deps & use exports: named
  .babelrc.js
  .gitignore
  dist/react-textarea-autosize.js
  dist/react-textarea-autosize.min.js
  package.json
  rollup.config.js
  rollup.umd.config.js
Due: none

6.0.0-0
  package.json
Due: none

updated docs about release scripts
  README.md
Due: prettier --write

6.0.0
  package.json
Due: none

Guard against `this._rootDOMNode === null`
  src/index.js
Due: prettier --single-quote --trailing-comma=all --write, eslint --fix

Bail out from calculating dimenions for detached nodes
  src/calculateNodeHeight.js
Due: prettier --single-quote --trailing-comma=all --write, eslint --fix

6.0.1
  package.json
Due: none

Apply hidden styles also after hidden textarea creation
  src/calculateNodeHeight.js
Due: prettier --single-quote --trailing-comma=all --write, eslint --fix

6.0.2
  package.json
Due: none

Fix SSR regression introduced by latest commit (fixes #196)
  src/calculateNodeHeight.js
Due: prettier --single-quote --trailing-comma=all --write, eslint --fix

6.0.3
  package.json
Due: none

Moved resize scheduling into componentDidUpdate because componentWillReceiveProps is deprecated
  example/rollup.config.js
  package.json
  src/index.js
Due: prettier --single-quote --trailing-comma=all --write, eslint --fix

6.1.0-0
  package.json
Due: none

Recalculate only on props changes
  src/index.js
Due: prettier --single-quote --trailing-comma=all --write, eslint --fix

6.1.0-1
  package.json
Due: none

Added "sideEffects": false in pkg.json
  package.json
Due: none

6.1.0
  package.json
Due: none

fixed height=undefined
  src/index.js
Due: prettier --single-quote --trailing-comma=all --write, eslint --fix

feat(react-textarea-autosize): exports calculateNodeHeight function to be accessible externally
  src/index.js
Due: prettier --single-quote --trailing-comma=all --write, eslint --fix

Wrap propTypes in env check with babel plugin
  .babelrc.js
  .npmrc
  package.json
Due: none

Updated bunch of rollup, babel & prettier dev deps
  .lintstagedrc
  package.json
Due: none

Path conditions:
  prettier --single-quote --trailing-comma=all --write: any of: src/**/*.js
  eslint --fix: any of: src/**/*.js
  prettier --write: any of: *.md
