Repository Andarist/react-textarea-autosize: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --single-quote --trailing-comma=all --write, eslint --fix, prettier --write

.lintstagedrc:

{
  "src/**/*.js": [
    "prettier --single-quote --trailing-comma=all --write",
    "eslint --fix",
    "git add"
  ],
  "*.md": ["prettier --write", "git add"]
}

Moved deprecated globals to output.globals in rollup config
  rollup.config.js
Due: none

Use loose mode for proposal-object-rest-spread
  .babelrc.js
Due: none

Removed doubled condition logic
  src/calculateNodeHeight.js
Due: prettier --single-quote --trailing-comma=all --write, eslint --fix

Use const in 2 declarations inside render method
  src/index.js
Due: prettier --single-quote --trailing-comma=all --write, eslint --fix

feat(calculateNodeHeight): adds valueRowCount
  src/calculateNodeHeight.js
  src/index.js
Due: prettier --single-quote --trailing-comma=all --write, eslint --fix

Removed unused .gitignore rules
  .gitignore
Due: none

Use .esm.js instead of .es.js
  package.json
  rollup.config.js
Due: none

Measure lib size during precommit hook
  .lintstagedrc
  README.md
  package.json
  scripts/update-size.js
Due: prettier --write

Micro size optimizations
  README.md
  src/calculateNodeHeight.js
  src/index.js
  src/uid.js
Due: prettier --single-quote --trailing-comma=all --write, eslint --fix, prettier --write

Prepare separate server & browser builds
  README.md
  package.json
  rollup.config.js
  scripts/update-size.js
  src/calculateNodeHeight.js
  src/index.js
  src/isBrowser.js
Due: prettier --single-quote --trailing-comma=all --write, eslint --fix, prettier --write

feat(calculateNodeHeight): adds valueRowCount (#206)
  src/calculateNodeHeight.js
  src/index.js
Due: prettier --single-quote --trailing-comma=all --write, eslint --fix

Pass this as second argument to this.props.onChange
  README.md
  src/index.js
Due: prettier --single-quote --trailing-comma=all --write, eslint --fix, prettier --write

Reworked browser builds, make default build compatible with both node & browsers due to non-ideal browser field support
  .babelrc.js
  package.json
  rollup.config.js
  src/calculateNodeHeight.js
  src/index.js
  src/isBrowser.js
  src/isBrowser.macro.js
Due: prettier --single-quote --trailing-comma=all --write, eslint --fix

7.0.0
  package.json
Due: none

Tweaked lint-staged rules
  .babelrc.js
  .lintstagedrc
  .prettierrc.js
Due: none

Fixed issue with browser field in webpack not recognizing relative paths without ./
  package.json
Due: none

7.0.1
  package.json
Due: none

Fix issue with _resizeComponent being called with current time (because of requestAnimationFrame)
  src/index.js
Due: prettier --single-quote --trailing-comma=all --write, eslint --fix

7.0.2
  package.json
Due: none

Use Size Limit to calculate size
  README.md
  package.json
  scripts/update-size.js
Due: prettier --write

Remove PropTypes from size calculation
  README.md
  scripts/update-size.js
Due: prettier --write

Updated babel deps
  README.md
  package.json
Due: prettier --write

7.0.3
  package.json
Due: none

Added possibility to run only certain builds
  package.json
  rollup.config.js
Due: none

Add Size Limit config
  .size-limit.js
Due: none

Make UMD bundles truly universal again - they shouldnt assume being ran in browser environment
  rollup.config.js
Due: none

Tweak release scripts
  package.json
Due: none

7.0.4
  package.json
Due: none

Add ignore to Size Limit config
  .size-limit.js
  README.md
  package.json
Due: prettier --write

Use Size Limit to calculate size (#209)
  .size-limit.js
  README.md
  package.json
  scripts/update-size.js
Due: prettier --write

Remove rAF scheduling - experiment
  README.md
  src/index.js
Due: prettier --single-quote --trailing-comma=all --write, eslint --fix, prettier --write

7.1.0-0
  package.json
Due: none

Upgraded husky
  .huskyrc
  package.json
Due: none

Updated babel & rollup deps
  package.json
Due: none

Updated bunch of outdated deps
  package.json
  rollup.config.js
Due: none

Use external babel helpers (runtime ones) instead of bundles ones - reducing library size footprint
  README.md
  package.json
  rollup.config.js
Due: prettier --write

Use external babel helpers (runtime ones) instead of bundles ones - reducing library size footprint (#220)
  README.md
  package.json
  rollup.config.js
Due: prettier --write

travis implemented
  .travis.yml
Due: none
