Repository Andarist/react-textarea-autosize: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.js": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.md": ["prettier --write", "git add"]
}

ADD: custom classname attribute
  src/__tests__/index.test.js
  src/index.tsx
Due: prettier --write, eslint --fix

Update .changeset/tricky-jokes-wave.md
  .changeset/tricky-jokes-wave.md
Due: prettier --write

Update .changeset/loud-boats-judge.md
  .changeset/loud-boats-judge.md
Due: prettier --write

Add `ignorePlaceholder`
  .changeset/breezy-dodos-lick.md
  README.md
  example/index.tsx
  src/index.tsx
Due: prettier --write

Handle document.fonts not being define
  .changeset/great-moose-judge.md
  src/hooks.ts
Due: prettier --write

fix: potentially incorrect width for hidden textarea
  src/forceHiddenStyles.ts
Due: none

create changeset
  .changeset/fix-textarea-width.md
Due: prettier --write

Optimize bundling strategy
  package.json
  src/getSizingData.ts
  src/index.tsx
  tsconfig.json
  yarn.lock
Due: none

push condition files
  src/resolved-conditions/false.ts
  src/resolved-conditions/true.ts
Due: none

Create rotten-doors-swim.md
  .changeset/rotten-doors-swim.md
Due: prettier --write

Create rotten-doors-fly.md
  .changeset/rotten-doors-fly.md
Due: prettier --write

Create fair-pears-invite.md
  .changeset/fair-pears-invite.md
Due: prettier --write

Update .changeset/great-moose-judge.md
  .changeset/great-moose-judge.md
Due: prettier --write

Always forward provided `onChange`
  src/index.tsx
Due: none

add changeset
  .changeset/rich-garlics-film.md
Due: prettier --write

Publish files that were previously missing for some conditions
  .changeset/slimy-flowers-wink.md
  package.json
  yarn.lock
Due: prettier --write

Distribute completely separate files for the `worker` condition
  .changeset/gentle-carrots-smoke.md
  package.json
  src/getSizingData.ts
  src/index.tsx
  src/resolved-conditions/browser.ts
  src/resolved-conditions/development.ts
  src/resolved-conditions/false.ts
  src/resolved-conditions/node.ts
  src/resolved-conditions/production.ts
  src/resolved-conditions/true.ts
  src/resolved-conditions/worker.ts
Due: prettier --write

fix: Type 'CSSProperties' is not assignable to type 'Style' error
  src/index.tsx
Due: none

fix: add display block forced style
  src/forceHiddenStyles.ts
Due: none

fix: log for debugging
  src/forceHiddenStyles.ts
Due: none

mor log
  src/calculateNodeHeight.ts
Due: none

fix: remove logs
  src/calculateNodeHeight.ts
  src/forceHiddenStyles.ts
Due: none

fix: add changeset
  .changeset/two-turkeys-join.md
Due: prettier --write

Update .changeset/two-turkeys-join.md
  .changeset/two-turkeys-join.md
Due: prettier --write

Prevent display style overrides from sites (#397)
  .changeset/two-turkeys-join.md
  src/calculateNodeHeight.ts
  src/forceHiddenStyles.ts
Due: prettier --write

add react v19 to peer deps
  package.json
Due: none

Create tricky-llamas-shake.md
  .changeset/tricky-llamas-shake.md
Due: prettier --write

Add missing sizing styles wordSpacing & scrollbarGutter
  src/getSizingData.ts
Due: none

Create serious-shoes-draw.md
  .changeset/serious-shoes-draw.md
Due: prettier --write

Add missing sizing styles wordSpacing & scrollbarGutter (#401)
  .changeset/serious-shoes-draw.md
  src/getSizingData.ts
Due: prettier --write
